name: Test

on:
  - pull_request
  - push

env:
  BUNDLE_WITHOUT: release

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - ruby: "2.7"
    name: Lint - Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: lint
        run: bundle exec rake lint

  rspec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - ruby: "2.4"
          - ruby: "2.5"
          - ruby: "2.6"
          - ruby: "2.7"
          - ruby: "3.0"
            coverage: "yes"
          - ruby: "3.1"
    env:
      COVERAGE: ${{ matrix.coverage }}
    name: RSpec - Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: spec tests
        run: bundle exec rake test:spec
      - name: Build gem
        run: gem build *.gemspec

  docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        ruby:
          - "2.6"
    name: Docker - Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: install bundler
        run: |
          gem install bundler -v '~> 1.17.3'
          bundle update
      - name: install container runtime
        run: |
          sudo apt-get remove -y docker docker-engine docker.io containerd runc ||:
          sudo apt-get update -y
          sudo apt-get install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
          sudo apt-get update -y
          sudo apt-get install -y docker-ce docker-ce-cli containerd.io
          sudo systemctl start docker
      - name: Run acceptance tests
        run: bundle exec rake test:acceptance

  beaker_in_container:
    runs-on: ubuntu-latest
    name: Docker - Beaker in container connection test
    steps:
      - uses: actions/checkout@v3
      # use this and not container key from gha to not have a docker network from github
      - name: Run Beaker in docker container
        uses: addnab/docker-run-action@v3
        with:
            image: puppet/puppet-dev-tools:2023-02-24-1bca42e
            options: -v ${{ github.workspace }}:/work
            run: |
              cd /work
              ls -la
              bundle install
              export DOCKER_IN_DOCKER=true
              bundle exec rake test:acceptance

  podman:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        ruby:
          - "2.6"
    name: Podman - Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: install bundler
        run: |
          gem install bundler -v '~> 1.17.3'
          bundle update
      # We need the latest version of podman for this to work
      - name: install container runtime
        run: |
          . /etc/os-release
          curl -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/Release.key | sudo apt-key add -
          echo "deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/ /" | sudo tee /etc/apt/sources.list.d/podman.list > /dev/null
          sudo apt-get update
          sudo apt-get -y install podman
          sudo systemctl start podman
      - name: Run acceptance tests
        run: bundle exec rake test:acceptance
